$brand-primary:         darken(#4368ba, 6.5%) !default; // #337ab7
$brand-success: #38af62 !default;
$brand-info: #25a1de !default;
$brand-warning: #f89936 !default;
$brand-danger: #d9282e !default;
$view-item: #15ad90;