@import "variables";
@import "homepage";

*{
  font-family: 'Lato', sans-serif;
}

.full-width{
  width:100%;
}

.remove-margin{
  margin-top: -20px;
}

.btn{
  margin: 0 5px;
  border-radius: 0;
  transition: background .3s ease;
}

.form-control{
  border-radius: 0;
}

.shadow{
  box-shadow: black 0 5px 20px 5px;
}

.login-container{
  margin-top: 150px;
  background: transparentize(white, .2);
  padding: 20px;
}

.signup-container{
  margin-top: 100px;
  background: transparentize(white, .2);
  padding: 20px;
  margin-bottom: 150px;
}

.danger{
  color: darkred;
}

.form-control[readonly]{
  background: white;
}

.pointer{
  cursor: pointer;
}

.item-box{
  background: lightgrey;
  padding: 20px;
  margin-bottom: 20px;
}

.auction-container{
  background: #3cb699;
  padding: 20px;
}

.product-image-container, .product-details-container{
  padding: 15px;
  background: white;
  box-shadow: lighten(black,30) 0 0 7px;
}

.product-amount{
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  font-weight: bold;

  &.base-price{
    color: darkslategrey;
    border: 1px solid darkgray;
  }

  &.highest-bid{
    color: white;
    background: dodgerblue;
    box-shadow: darken(white,30) 0 3px 2px;
  }
}

.bidding-container{
  width: 100%;
  padding:20px 0;
  clear: both;
  display: inline-block;
}

button[data-id=bid_amount]{
  padding: 15px;
}

.btn-bid{
  border-radius: 3px;
  padding: 15px;
  width: 100%;
  border: none;
  box-shadow: darken(white,30) 0 3px 1px;
}