@import "variables";
@import "homepage";

*{
  font-family: 'Lato', sans-serif;
}

.dark-shadow{
  box-shadow: lighten(black,10) 0 5px 5px;
}

.full-width{
  width:100%;
}

.remove-margin{
  margin-top: -20px;
}

.btn{
  margin: 0 5px;
  border-radius: 0;
  transition: background .3s ease;
}

.form-control{
  border-radius: 0;
}

.shadow{
  box-shadow: #404040 0 1px 10px
}

.login-container{
  margin-top: 150px;
  background: transparentize(white, .2);
  padding: 20px;
}

.signup-container{
  margin-top: 100px;
  background: transparentize(white, .2);
  padding: 20px;
  margin-bottom: 150px;
}

.danger{
  color: darkred;
}

.form-control[readonly]{
  background: white;
}

.pointer{
  cursor: pointer;
}


.auction-container{
  background: url("/img/Apples_background.jpg");
  padding: 20px;
  background-size: contain;
}

.product-image-container, .product-details-container{
  padding: 15px;
  background: white;
  box-shadow: lighten(black,30) 0 0 7px;
  min-height: 405px;
  overflow: auto;
}

.product-amount{
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  font-weight: bold;

  &.base-price{
    color: darkslategrey;
    border: 1px solid darkgray;
  }

  &.highest-bid{
    color: white;
    background: dodgerblue;
    box-shadow: darken(white,30) 0 3px 2px;
  }
}

.bidding-container{
  width: 100%;
  padding:20px 0;
  clear: both;
  display: inline-block;
}

button[data-id=bid_amount]{
  padding: 15px;
}

.btn-bid{
  border-radius: 3px;
  padding: 15px;
  width: 100%;
  border: none;
  box-shadow: darken(white,30) 0 3px 1px;
}

.notification-big{
  font-size:5em;
  font-weight: 200;
}

.notification-med{
  font-size: 3em;
  font-weight: 300;
}

.pill{
  border-radius: 300px;
  font-size: 3em;
  font-weight: 200;
  padding:7px;
  width:50%;
  display: block;
  border:none;

}

.center{
  margin:0 auto;
}

#input-custom-bid{
  padding: 25px 16px;
}


.item-box{
  display: block;
  text-decoration: none;
  color: black;
  height: 160px;
  width: 100%;
  padding: 10px;
  box-shadow: #ababab 0 1px 3px;

  &:hover, &:focus{
    text-decoration: none;
    color: black;
    outline:none;
    box-shadow: #7fc1d9 0 1px 3px;
  }

  small{
    display: block;
  }

  h2{
    margin:0;
    width:100%;
    font-family: "Lato Black", sans-serif;
  }
}

.dropdown{
  display: inline-block;

  a:hover{
    border-color: transparent !important;
  }
}

.nav-pills{
  margin: 0;

  li{
    a{
      border-radius: 0;
      background: #efefef;
      transition:  all .3s ease;
      color: gray;

      &:hover{
        background-color: #e0e0e0;
      }
    }

    &:first-child a{
      border-radius: 4px 0 0 4px;
    }

    &:last-child a{
      border-radius: 0 4px 4px 0;
    }
    }
}

.my-auctions-container{
  margin-top: 20px;

  .my-auction{
    border: 1px solid lightgrey;
    padding: 10px;;


  }
}

