@import "variables";

*{
  font-family: 'Lato', sans-serif;
}

.full-width{
  width:100%;
}

.btn{
  border-radius: 0;
  transition: background .3s ease;
}

.form-control{
  border-radius: 0;
}

.shadow{
  box-shadow: black 0 5px 20px 5px;
}

.login-container{
  margin-top: 150px;
  background: transparentize(white, .2);
  padding: 20px;
}

.signup-container{
  margin-top: 100px;
  background: transparentize(white, .2);
  padding: 20px;
  margin-bottom: 150px;
}

.danger{
  color: darkred;
}