.nav-agronomy{

  box-shadow: darken(white,25) 0 3px 5px;
  position: relative;
  z-index: 99;
  margin-bottom: 20px;

  .logo{
    width: 200px;
    height:55px;
    display: inline-block;
    background: url("/img/logo.png") no-repeat center/contain;
  }

  .menu{
    padding: 10px 0;

    .btn{
      border-radius: 20px;
      border-color: transparent;
      font-family: 'Open Sans', sans-serif;
      margin-left: 10px;

      &.btn-default{
        background: darken(white,10);

        &:hover{
          background: darken(white,15);
        }
      }
    }
  }
}

.cover{
  background: url("/img/cover.png") no-repeat bottom / cover;
  height: 300px;
  z-index: -999;

  .cloud{
    width: 300px;
    height: 180px;
    margin-top:20px;
    background: url("/img/cloud.png") no-repeat;
    background-size: contain;
    transform: rotate(-20deg);
    //animation: cloud-animate 2s linear infinite;
    //animation-direction: alternate-reverse;
  }

}

.container_search{
  box-shadow: darken(white,40) 0 -3px 10px;
  position: relative;
  z-index: 99;
  background: url("/img/pattern.jpg");
  padding: 60px;

  .form-container{
    background-color: #fff;
    box-shadow: darken(white,20) 0 5px 5px;
    padding: 50px;
  }

  .btn{
    width: 100%;
  }
}

@keyframes cloud-animate {
  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(-20deg);
  }
}