.nav-agronomy{

  box-shadow: lighten(black,30) 0 2px 5px;
  position: relative;
  z-index: 99;
  margin-bottom: 20px;

  .logo{
    width: 200px;
    height:55px;
    display: inline-block;
    background: url("/img/logo.png") no-repeat center/contain;
  }

  .menu{
    padding: 10px 0;

    .btn{
      border-radius: 20px;
      border-color: transparent;
      font-family: 'Open Sans', sans-serif;
      margin-left: 10px;

      &.btn-default{
        background: darken(white,10);

        &:hover{
          background: darken(white,15);
        }
      }
    }
  }
}

.cover{
  background: url("/img/cover.png") no-repeat bottom / cover;
  height: 300px;
  z-index: -999;

  .cloud{
    width: 300px;
    height: 180px;
    margin-top:20px;
    background: url("/img/cloud.png") no-repeat;
    background-size: contain;
    transform: rotate(-20deg);
    //animation: cloud-animate 2s linear infinite;
    //animation-direction: alternate-reverse;
  }

}

.container_search{
  position: relative;
  margin-top: -360px;
  z-index: 999;

  .form-container{
    background-color: transparentize(white,.1);
    padding: 30px;
    border-radius: 13px;

    h1{
      margin-bottom: 30px;
      color: #0ebe70;
    }
  }

  .btn{
    width: 100%;
  }
}

.background-image{
  margin-top: 155px;
  padding: 50px 0;

  .container{
    padding: 20px 0;
    border-radius: 5px;
    background-color: transparentize(white,.2);

    h1{
      margin-left: 30px;
      color: #3bab93;
    }
  }
}


@keyframes cloud-animate {
  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(-20deg);
  }
}